<div id="<%= dom_id event_favorite %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Event:</strong>
    <%= event_favorite.event_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= event_favorite.user_id %>
  </div>
</div>
