<div class="fixed top-4 right-4 left-4 sm:top-5 sm:right-5 sm:left-auto sm:max-w-md z-50 flex flex-col gap-3">
  <% flash.each do |type, message| %>
    <% next if message.blank? %>
    <%= render 'shared/flash_message', message: message, type: type %>
  <% end %>
</div>
