<%# Skip Navigation Links for Accessibility %>
<div data-controller="accessibility">
  <a href="#main-content" class="skip-link" data-accessibility-target="skipLink">Skip to main content</a>
  <a href="#footer" class="skip-link" data-accessibility-target="skipLink">Skip to footer</a>
</div>
