<%# Calendar integration button component %>
<div class="relative" data-controller="dropdown">
  <button 
    data-action="dropdown#toggle click@window->dropdown#hide"
    class="px-6 py-3 border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300 font-medium rounded-xl hover:bg-gray-50 dark:hover:bg-gray-700 transition-colors flex items-center shadow-sm"
  >
    <svg class="h-5 w-5 mr-2 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
    </svg>
    Add to Calendar
  </button>
  
  <div 
    data-dropdown-target="menu"
    class="absolute right-0 mt-2 w-48 bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden z-20 transform scale-95 opacity-0 pointer-events-none transition-all duration-100 origin-top-right border border-gray-200 dark:border-gray-700"
  >
    <a href="<%= google_calendar_url(@event) %>" target="_blank" rel="noopener" class="flex items-center px-4 py-3 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors">
      <svg class="h-5 w-5 mr-3 text-red-500" fill="currentColor" viewBox="0 0 24 24">
        <path d="M6 5.75Q6 5.3125 6.3125 5Q6.625 4.6875 7.0625 4.6875L8.0625 4.6875Q8.5 4.6875 8.8125 5Q9.125 5.3125 9.125 5.75L9.125 6.9375Q9.125 7.375 8.8125 7.6875Q8.5 8 8.0625 8L7.0625 8Q6.625 8 6.3125 7.6875Q6 7.375 6 6.9375L6 5.75ZM14.9375 5.75Q14.9375 5.3125 15.25 5Q15.5625 4.6875 16 4.6875L17 4.6875Q17.4375 4.6875 17.75 5Q18.0625 5.3125 18.0625 5.75L18.0625 6.9375Q18.0625 7.375 17.75 7.6875Q17.4375 8 17 8L16 8Q15.5625 8 15.25 7.6875Q14.9375 7.375 14.9375 6.9375L14.9375 5.75ZM3.25 22.75Q2.5625 22.75 2.0625 22.25Q1.5625 21.75 1.5625 21.0625L1.5625 5.75Q1.5625 5.0625 2.0625 4.5625Q2.5625 4.0625 3.25 4.0625L5.375 4.0625L5.375 5.75Q5.375 7.0625 6.25 7.9375Q7.125 8.8125 8.4375 8.8125L16.625 8.8125Q17.9375 8.8125 18.8125 7.9375Q19.6875 7.0625 19.6875 5.75L19.6875 4.0625L21.8125 4.0625Q22.5 4.0625 23 4.5625Q23.5 5.0625 23.5 5.75L23.5 21.0625Q23.5 21.75 23 22.25Q22.5 22.75 21.8125 22.75L3.25 22.75ZM21.8125 21.0625L21.8125 12.75L3.25 12.75L3.25 21.0625Q3.25 21.0625 3.25 21.0625Q3.25 21.0625 3.25 21.0625L21.8125 21.0625Q21.8125 21.0625 21.8125 21.0625Q21.8125 21.0625 21.8125 21.0625ZM3.25 11L21.8125 11L21.8125 5.75Q21.8125 5.75 21.8125 5.75Q21.8125 5.75 21.8125 5.75L19.6875 5.75L19.6875 6.9375Q19.6875 7.375 19.375 7.6875Q19.0625 8 18.625 8L17.625 8Q17.1875 8 16.875 7.6875Q16.5625 7.375 16.5625 6.9375L16.5625 5.75L9.75 5.75L9.75 6.9375Q9.75 7.375 9.4375 7.6875Q9.125 8 8.6875 8L7.6875 8Q7.25 8 6.9375 7.6875Q6.625 7.375 6.625 6.9375L6.625 5.75L3.25 5.75Q3.25 5.75 3.25 5.75Q3.25 5.75 3.25 5.75L3.25 11Z"/>
      </svg>
      Google Calendar
    </a>
    
    <a href="<%= outlook_calendar_url(@event) %>" target="_blank" rel="noopener" class="flex items-center px-4 py-3 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors">
      <svg class="h-5 w-5 mr-3 text-blue-500" fill="currentColor" viewBox="0 0 24 24">
        <path d="M21.1783 3H16.9554C16.3659 3 15.8019 3.23746 15.3821 3.65823L4.56166 14.4786C3.67993 15.3604 3.67993 16.7935 4.56166 17.6752L7.32529 20.4389C8.20702 21.3206 9.64011 21.3206 10.5218 20.4389L21.3423 9.61848C21.763 9.19867 22.0005 8.63371 22.0005 8.04524V3.82172C22 3.36842 21.6317 3 21.1783 3ZM17.1029 9C15.9492 9 15 8.1 15 7C15 5.9 15.8953 5 17.1029 5C18.3105 5 19 5.9 19 7C19 8.1 18.1048 9 17.1029 9Z"/>
      </svg>
      Outlook Calendar
    </a>
    
    <a href="<%= ical_download_url(@event) %>" class="flex items-center px-4 py-3 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors">
      <svg class="h-5 w-5 mr-3 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
        <path d="M19 4h-4V2h-6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-7 0h2v2h-2V4zM5 8h14v11H5V8z"/>
        <path d="M7 10h5v5H7v-5z"/>
      </svg>
      Apple Calendar (iCal)
    </a>
    
    <a href="<%= yahoo_calendar_url(@event) %>" target="_blank" rel="noopener" class="flex items-center px-4 py-3 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors">
      <svg class="h-5 w-5 mr-3 text-purple-500" fill="currentColor" viewBox="0 0 24 24">
        <path d="M13.4669 10.8834C13.6893 10.8834 13.8894 10.9172 14.0674 10.9848C14.2453 11.0524 14.3973 11.1504 14.5232 11.2788C14.649 11.4072 14.7469 11.5661 14.8167 11.7555C14.8865 11.945 14.9213 12.158 14.9213 12.3947C14.9213 12.6314 14.8854 12.8439 14.8134 13.0323C14.7415 13.2206 14.6414 13.3808 14.5133 13.5125C14.3851 13.6443 14.233 13.746 14.0569 13.8179C13.8808 13.8897 13.6849 13.9256 13.4692 13.9256C13.2535 13.9256 13.0566 13.8908 12.8783 13.8211C12.7 13.7515 12.5468 13.6509 12.4187 13.5191C12.2906 13.3874 12.1906 13.226 12.1186 13.0349C12.0467 12.8439 12.0107 12.629 12.0107 12.3902C12.0107 12.1558 12.0467 11.9461 12.1186 11.7611C12.1906 11.576 12.2906 11.4183 12.4187 11.288C12.5468 11.1576 12.7 11.0579 12.8783 10.9889C13.0566 10.9199 13.2502 10.8857 13.4669 10.8857V10.8834ZM11.2183 8H8.5L12.5556 16H15.4445L19.5 8H16.7817L14.9304 12.2877C14.8704 12.4322 14.8148 12.58 14.7637 12.7344C14.7126 12.8887 14.6682 13.0452 14.6304 13.2039H14.6059C14.568 13.0564 14.5258 12.91 14.4792 12.7646C14.4325 12.6193 14.3781 12.4682 14.3158 12.3114L12.3649 8H11.2183ZM20.8 19.5C20.8 18.6716 20.1285 18 19.3 18C18.4716 18 17.8 18.6716 17.8 19.5C17.8 20.3284 18.4716 21 19.3 21C20.1285 21 20.8 20.3284 20.8 19.5ZM20.0238 16H18.5762C18.0344 16 17.6 15.5523 17.6 15C17.6 14.4477 18.0344 14 18.5762 14H20.0238C20.5656 14 21 14.4477 21 15C21 15.5523 20.5656 16 20.0238 16ZM22.2 11.5C22.2 10.6716 21.5285 10 20.7 10C19.8716 10 19.2 10.6716 19.2 11.5C19.2 12.3284 19.8716 13 20.7 13C21.5285 13 22.2 12.3284 22.2 11.5ZM2.6 14.5C2.6 15.3284 3.27157 16 4.1 16C4.92843 16 5.6 15.3284 5.6 14.5C5.6 13.6716 4.92843 13 4.1 13C3.27157 13 2.6 13.6716 2.6 14.5ZM5.42383 10H3.97617C3.43437 10 3 9.55228 3 9C3 8.44772 3.43437 8 3.97617 8H5.42383C5.96563 8 6.4 8.44772 6.4 9C6.4 9.55228 5.96563 10 5.42383 10ZM5.9 7.5C5.9 8.32843 6.57157 9 7.4 9C8.22843 9 8.9 8.32843 8.9 7.5C8.9 6.67157 8.22843 6 7.4 6C6.57157 6 5.9 6.67157 5.9 7.5ZM7.4 21C6.57157 21 5.9 20.3284 5.9 19.5C5.9 18.6716 6.57157 18 7.4 18C8.22843 18 8.9 18.6716 8.9 19.5C8.9 20.3284 8.22843 21 7.4 21ZM3.97617 14H5.42383C5.96563 14 6.4 14.4477 6.4 15C6.4 15.5523 5.96563 16 5.42383 16H3.97617C3.43437 16 3 15.5523 3 15C3 14.4477 3.43437 14 3.97617 14Z"/>
      </svg>
      Yahoo Calendar
    </a>
  </div>
</div>
